<div class="authorization">
	<form class="authorization__form" id="authorization-form">
		<span class="authorization__title">Вход в систему</span>
		<div class="authorization__item">
			<label class="authorization__label">Имя пользователя</label>
			<input type="text" class="input-style" id="email">
		</div>
		<div class="authorization__item">
			<label class="authorization__label">Пароль</label>
			<input type="password" class="input-style" id="password">
		</div>
		<div class="authorization__item error-message hidden errorAuthJs">
			Что-то пошло не так
		</div>
		<div class="authorization__item authorization__item_btn">
			<button type="submit" class="btn-style btn-style_red">Войти</button>
		</div>
	</form>
</div>
