<div class="not-found">
	<div class="container">
		<div class="not-found__wrap">
			<svg class="">
				<use xlink:href="#404"></use>
			</svg>
			<span>Страница не найдена</span>
		</div>
	</div>
</div>
