<li>
	<span class="text">Дата закрытия:</span>
	<span class="value dateCloseJs">{{formatOrderInfo.closed_at}}</span>
</li>
<li>
	<span class="text">ФИО:</span>
	<span class="value">{{formatOrderInfo.fio}}</span>
</li>
<li>
	<span class="text">Автомобиль:</span>
	<span class="value">{{formatOrderInfo.car}}</span>
</li>
<li>
	<span class="text">Рег. номер:</span>
	<span class="value">{{formatOrderInfo.reg_number}}</span>
</li>