<div class="container">
	<div class="not-found">
		<span class="not-found__message">Страница не найдена</span>
		<div class="not-found__btn">
			<a href="#/" class="btn-style btn-style_white">Контакты</a>
		</div>
	</div>
</div>
