.cookies {
    position: fixed;
	bottom: 0;
    z-index: 5;
    display: block;
    width: 100%;
    background: rgba(23,35,69, .9);
	&__wrap {
		display: flex;
		align-items: center;
		max-width: 830px;
		padding: 20px 15px;
		margin: 0 auto;
	}
    p{
        font-size: 12px;
        line-height: 17px;
        color: #fff;
    }
    .text-medium {
        color: #9797e6;
    }
    .btn-style {
        flex-grow: 1;
        margin: 0 0 0 20px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 16px;
		padding: 10px 8px;
    }
}

@media (max-width: 959px) {
    .cookies {
		&__wrap {
			max-width: 700px;
		}
        .btn-style {
            min-width: 110px;
            margin: 0 0 0 10px;
        }
    }
    .toolbar-show .cookies {
        bottom: 60px;
    }
}


@media (max-width: 779px) {
    .cookies {
		&__wrap {
			flex-direction: column;
			max-width: 500px;
		}
        p {
            text-align: center;
        }
        .btn-style {
            margin: 10px 0 0;
            width: 100%;
        }
    }
}
