@import "variables";

$test: '169D7C';

.exp-link {
	display: flex;
	align-items: center;
	font-family: $font-family-headers;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.75px;
	color: $color-secondary;
	svg {
		width: 10px;
		height: 16px;
		fill: $color-secondary;
		margin-right: 18px;
		transform: rotate(-180deg);
	}

	span + svg {
		transform: none;
		margin-right: 0;
		margin-left: 18px;
	}

	&:hover {
		color: $exa-green-500;
		svg {
			fill: $exa-green-500;
		}
	}
}
