@import "variables";
.period-card {
    @include card-style;
    padding: 25px 0 0;
    &__title,
    &__list {
        padding: 0 25px;
    }
    &__title {
        display: flex;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
			object-fit: contain;
        }
        span {
            margin: 0 0 0 10px;
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
            color: $dark-color;
        }
    }
    &__list {
        margin: 15px 0 0;
        padding-bottom: 25px;
        li {
            display: none;
        }
        li + li {
            @include list-border;
        }
        a {
            display: block;
            padding: 12px 0;
            font-size: 15px;
            line-height: 21px;
            font-weight: 500;
            color: $main-color;
            &:hover {
                color: $active-color;
            }
        }
        $i: 1;
        @while $i < 7 {
            li:nth-of-type(#{$i}) {
                display: block;
            }
            $i: $i + 1;
        }
    }
    &__btn {
        margin: auto 0 0 0;
        font-size: 15px;
        line-height: 50px;
        text-align: center;
        @include list-border;
        border-radius: 0 0 $bdrs-6 $bdrs-6;
        color: $dark-color;
        cursor: pointer;
        &:hover {
            color: $active-color;
            @include hover-bgc;
        }
    }
}
@media (max-width: 1299px) and (min-width: 960px), (max-width: 779px) and (min-width: 640px){
    .period-card {
        &__title {
            flex-direction: column;
            span {
                margin: 5px 0 0 0;
            }
        }
    }

}
