$font-family-headers: 'Nunito', Arial, sans-serif;
$font-family-content: 'Montserrat', Arial, sans-serif;
$font-family-elements: 'Poppins', Arial, sans-serif;

$color-primary: #F28435;
$color-secondary: #169D7C;

$exa-white-primary: #FFFFFF;
$exa-white-secondary: #F8F8F9;

$exa-gray-200: #eee;
$exa-gray-300: #A4A4A4;
$exa-gray-500: #777777;
$exa-gray-700: #465255;

$exa-yellow-100: #FFE7AA;
$exa-yellow-700: #E46A12;

$exa-green-100: #C8F1EA;
$exa-green-500: #61D0BD;
$exa-green-800: #068868;
$text-price-color: #007353;

$text-content-title-secondary: #3D454A;
$text-content: #5E6282;
$text-name: #14183E;
$text-date: #7F83A9;
$text-input: #435054;

$color-primary-without-hex: 'F28435';



