@import "variables";
@import "breadcrumbs";
@import "dop-info-block";
@import "news";
@import "coin-card";

.catalog-page__container {
    .content__block {
        padding: 0;
    }
}
.catalog-page {
    min-height: 806px;
    &__header {
        display: flex;
        position: relative;
        justify-content: center;
        background-color: $dark-color;
        border-radius: $bdrs-6 $bdrs-6 0 0;
        padding: 0 205px;
        & > span {
            position: absolute;
            left: 40px;
            font-size: 15px;
            line-height: 50px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: #F6F6F6;
        }
    }
    &__tabs {
        display: flex;
        align-items: center;
    }
    &__tab {
        padding: 15px 0;
        position: relative;
        font-size: 15px;
        line-height: 21px;
        color: #9595af;
        white-space: nowrap;
        cursor: pointer;
        @include tab-hover(#fff);
        .no-touch &:not(.active):hover,
        &.active{
            color: #fff;
        }
        .no-touch &:not(.active):hover,
        &.active{
            @include tab-hover-active;
        }
    }
    &__tab + &__tab {
        margin: 0 0 0 30px;
    }
    &__content {
        padding: 40px 40px 60px;
    }
    &__map {
        display: flex;
        align-items: center;
        &-icon {
            width: 300px;
            height: 158px;
        }
        &-desc {
            display: flex;
            flex-direction: column;
            margin: 0 0 0 40px;
            .title {
                font-size: 40px;
                line-height: 48px;
                font-weight: 600;
                letter-spacing: -0.5px;
                color: $dark-color;
            }
            .desc {
                margin: 10px 0 0;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.1px;
            }
            .desc + .desc {
                margin: 0;
            }
        }
    }
    &__body {
        position: relative;
        overflow: hidden;
        margin: 50px 0 0;
    }
    &__list {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 1;
        background-color: #fff;
        width: 900px;
        &-title {
            display: block;
            position: relative;
            padding: 0 0 10px 0;
            font-size: 18px;
            line-height: 25px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: $main-color;
            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #EDEDED;
            }
            .sublist & {
                cursor: pointer;
                padding-left: 30px;
                svg {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    transform: rotate(90deg);
                    fill: $main-color;
                }
            }
        }
        &-wrap {
            margin: 20px 0 0;
            columns: 3;
            column-gap: 30px;
        }
        &-item {
			display: block;
            margin: 0 0 20px 0;
        }
        &-link {
			display: block;
            cursor: pointer;
            img,
            .circle {
				display: inline-block;
				vertical-align: top;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            .caption {
				display: inline-block;
				vertical-align: top;
                margin: 0 0 0 10px;
                & > * {
                    display: block;
                }
                .title {
                    position: relative;
                    padding: 0 20px 0 0;
                    font-size: 18px;
                    line-height: 22px;
                    color: $main-color;
                    svg {
                        position: absolute;
                        right: 0;
                        top: 1px;
                        width: 20px;
                        height: 20px;
                        transform: rotate(-90deg);
                        fill: $dark-color;
                    }
                }
                .desc {
                    margin: 2px 0 0;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0.1px;
                    color: $gray-text;
                }
            }
            .circle {
                background-color: #F6F6F6;
				&__wrap {
					width: inherit;
					height: inherit;
					display: flex;
				}
                svg {
                    margin: auto;
                    width: 24px;
                    height: 24px;
                    fill: $dark-color;
                }
            }
            &:hover {
                .caption {
                    .title {
                        color: $active-color;
                        svg {
                            fill: $active-color;
                        }
                    }
                }
            }
        }
        &.open {
            position: absolute;
            left: -100%;
            opacity: 0;
            z-index: 2;
        }
        &.sublist {
            position: absolute;
            opacity: 0;
            left: -100%;
            &.open {
                position: relative;
                opacity: 1;
                left: 0%;
            }
        }
        &-btn {
            display: none;
            font-size: 15px;
            line-height: 50px;
            text-align: center;
            color: $dark-color;
            box-shadow: inset 0 1px 0 0 #EDEDED;
            cursor: pointer;
        }
    }
}

@media (max-width: 1539px) {
    .catalog-page__container .content__wrap {
        margin: 0 0 100px 0;
    }
}

@media (max-width: 1299px) {
    .catalog-page {
        &__header {
            align-items: center;
            flex-direction: column;
            padding: 15px 15px 0;
            & > span {
                position: initial;
                line-height: 18px;
            }
        }
        &__content {
            padding: 40px 30px 60px;
        }
        &__body {
            margin: 40px 0 0;
        }
        &__list {
            width: 100%;
        }
    }
    .catalog-page__container .content__wrap {
        margin: 0 0 80px 0;
    }
}

@media (max-width: 959px) {
    .catalog-page {
        min-height: auto;
        &__tab + &__tab {
            margin: 0 0 0 20px;
        }
        &__map {
            &-desc {
                margin: 0 0 0 30px;
                .title {
                    font-size: 32px;
                    line-height: 45px;
                }
            }
        }
        &__list {
            &-wrap {
                columns: 2;
                column-gap: 60px;
                padding: 0 0 20px 0;
            }
            &-item {
                $i: 1;
                @while $i < 13 {
                    &:nth-of-type(#{$i}) {
                        display: block;
                    }
                    $i: $i + 1;
                }
            }
            &-btn {
                display: block;
            }
        }
        &__content {
            padding: 40px 20px 0;
        }
    }
}

@media (max-width: 779px) {
    .catalog-page {
        &__tabs {
            width: calc(100vw - 62px);
            overflow-y: auto;
        }
        &__content {
            padding: 25px 20px 0;
        }


        &__map {
            flex-direction: column;
            &-desc {
                margin: 20px 0 0 0;
                .title, .desc {
                    text-align: center;
                }
            }
        }
        &__body {
            margin: 30px 0 0 0;
        }

        &__list {
            &-wrap {
                column-gap: 10px;
            }
        }

    }
}

@media(max-width: 639px) {
    .catalog-page__container .content__wrap {
        margin: 0 0 60px 0;
    }
    .catalog-page {
        &__list {
            &-wrap {
                columns: 1;
                column-gap: 0;
            }
            &-item {
                display: none;
                $i: 1;
                @while $i < 13 {
                    &:nth-of-type(#{$i}) {
                        display: none;
                    }
                    $i: $i + 1;
                }
                $i: 1;
                @while $i < 7 {
                    &:nth-of-type(#{$i}) {
                        display: block;
                    }
                    $i: $i + 1;
                }
            }
        }
    }
}

@media (max-width: 359px) {
    .catalog-page {
        &__map {
            &-icon {
                width: 100%;
            }
            &-desc {
                .desc{
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
        &__content {
            padding: 25px 15px 0;
        }
    }
}
