@import "variables";
@import "breadcrumbs";

.lot-page {
    &__content {
        border-radius: $bdrs-6;
        overflow: hidden;
    }
    &__header,
    &__body {
        padding-left: 40px;
        padding-right: 40px;
    }
    &__header {
        padding-top: 55px;
        padding-bottom: 55px;
        background-color: $dark-color;
        display: flex;
        &-logo {
            display: flex;
            margin: 0 25px 0 0;
            width: 200px;
            min-width: 200px;
            height: 110px;
            border-radius: $bdrs-6;
            background-color: #fff;
            img, svg {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
            span {
                margin: auto;
                font-size: 18px;
                line-height: 21px;
                color: $gray-text;
            }
        }
        &-info {
            & > * {
                display: block;
            }
            .auction {
                font-size: 14px;
                line-height: 20px;
                color: #9595AF;
                margin: 0 0 10px 0;
            }
            .title,
            .date {
                letter-spacing: 0.2px;
                color: #FFFFFF;
            }
            .title {
                font-size: 32px;
                line-height: 45px;
                letter-spacing: 0.1px;
            }
            .date {
                margin: 5px 0 0 0;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
    &__body {
        background-color: #fff;
        padding-top: 40px;
        padding-bottom: 50px;
        display: flex;
        align-items: flex-start;
    }
    &__slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 870px;
        width: 870px;
        &-wrap {
            margin: -5px;
        }
        &-controls {
            align-self: center;
            display: flex;
            align-items: center;
            margin: 20px 0 0 0;
        }
        &-item {
            padding: 5px;
        }
        &-img {
            height: 430px;
			object-fit: contain;
        }
		.slick-prev,
		.slick-next {
			transform: translate(0, -50%);
			z-index: 1;
		}
        .slick-prev {
			left: 0;
		}
        .slick-next {
			right: 0;
			transform: translate(0, -50%) rotate(180deg);
		}
		&-nav {
			width: 360px;
			margin: 10px auto 0;
			img {
				height: 80px;
				padding: 5px;
				border-radius: $bdrs-6;
				box-shadow: 0 0 0 1px #e1e1e1;
			}
		}
		&-nav &-item {
			opacity: .8;
			outline: none;
			.no-touch &:not(.slick-current):hover {
				cursor: pointer;
				img {
					@include card-hover;
				}
			}
			&.slick-current{
				opacity: 1;
				img{
					box-shadow: 0 0 0 1px $active-color;
				}
			}
		}
    }
    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 50px;
        padding: 40px 30px;
        background: #fff;
        box-shadow: inset 0 0 0 1px #EDEDED;
        border-radius: $bdrs-6;
        .title {
            font-size: 32px;
            line-height: 45px;
            letter-spacing: 0.2px;
            color: $dark-color;
        }
        .list {
            margin: 15px 0 0 0;
            &__item {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 12px 0;
                & > * {
                    font-size: 15px;
                    line-height: 20px;
                    color: $main-color;
                }
                .left {
                    min-width: 135px;
                }
                .right {
                    display: flex;
                    align-items: center;
                    text-align: right;
                    padding: 0 0 0 15px;
                    .helper {
                        margin: 0 0 0 5px;
                    }
                }
            }
            &__item + .list__item {
                box-shadow: inset 0 1px 0 0 #EDEDED;
            }
        }
        .btn-style {
            width: 100%;
            margin: 30px 0 0 0;
        }
    }
}



@media (max-width: 1539px) {
    .lot-page__body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .lot-page__slider {
        width: 710px;
        min-width: 710px;
    }
    .lot-page__info {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 1299px) {
    .lot-page__body {
        flex-direction: column;
        padding: 40px 25px;
    }
    .lot-page__slider {
        width: 100%;
		min-width: auto;
    }
    .lot-page__info {
        margin: 40px 0 0 0;
    }
}

@media (max-width: 959px) {
    .lot-page__header {
        padding: 25px 30px;
        flex-direction: column;
        align-items: center;
    }
    .lot-page__header-info .auction,
    .lot-page__header-info .title,
    .lot-page__header-info .date {
        text-align: center;
    }
    .lot-page__header-info .title {
        max-width: 425px;
        margin: 0;
        font-size: 28px;
        line-height: 39px;
    }
    .lot-page__header-info .date {
        margin: 10px 0 0 0;
    }
    .lot-page__body {
        padding: 25px 20px 40px;
    }
    .lot-page__slider-wrap {
        margin: 0;
    }
    .lot-page__info .title {
        font-size: 24px;
        line-height: 34px;
    }
}

@media (max-width: 639px) {
    .lot-page__body {
        padding: 25px 15px 40px;
    }
    .lot-page__info {
        padding: 30px 15px;
    }
    .lot-page__slider-img {
        height: calc(100vw - 62px);
		max-height: 360px;
    }
    .lot-page__info .btn-style {
        margin: 25px 0 0 0;
    }
}

@media (max-width: 479px) {
	.lot-page__slider-img {
		max-height: 320px;
	}
	.lot-page__slider-nav {
		width: 296px;
	}
	.lot-page__slider-item {
		padding: 2px;
	}
	.lot-page__slider-nav img {
		height: 70px;
		padding: 3px;
	}
}

@media (max-width: 359px) {
    .lot-page__info .list__item > * {
        font-size: 14px;
    }
    .lot-page__info .list__item .left {
         min-width: auto;
    }




	/*.lot-page__slider-nav {
		width: 148px;
	}*/


	.lot-page__slider-nav {
		width: 256px;
	}
	.lot-page__slider-nav img {
		height: 60px;
	}
}



