@import "variables";
@import "feedback";
@import "breadcrumbs";

.faq {
    margin: 30px 0 0 0;
    &__title {
        display: block;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0.1px;
        color: $dark-color;
    }
    &__item {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: $bdrs-6;
        box-shadow: inset 0 0 0 1px #EDEDED;
        transition: box-shadow $trans-time ease-in-out;
        &:not(.open):hover,
        &.open {
            box-shadow: inset 0 0 0 1px $active-color;
            transition: box-shadow $trans-time ease-in-out;
        }
    }
    &__item + &__item {
        margin: 15px 0 0 0;
    }
    &__btn {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        min-height: 60px;
        padding: 15px 60px 15px 20px;
        font-family: 'PT Root UI';
        font-size: 18px;
        line-height: 25px;
        color: #32325D;
        cursor: pointer;
        &.open {
            font-weight: 600;
        }
    }
    &__close {
        position: absolute;
        z-index: -1;
        width: 30px;
        height: 30px;
        top: 15px;
        right: 20px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $dark-color;
            border-radius: $bdrs-6;

        }
        &:after{
            width: 18px;
            height: 2px;
            margin-left: -9px;
            margin-top: -1px;
        }
        &:before{
            width: 2px;
            height: 18px;
            margin-top: -9px;
            margin-left: -1px;
            transform: scaleY(1);
            transition: transform $trans-time linear;
        }
        .open &:before {
            transform: scaleY(0);
            transition: transform $trans-time linear;
        }
    }
    &__body {
        display: none;
        margin: 5px 0 0 0;
        padding: 0 20px 20px 20px;
        & > * {
            font-size: 15px;
            line-height: 21px;
            color: $dark-color;
        }
    }
}

.support-page{
    &__content {
        border-radius: $bdrs-6;
        overflow: hidden;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $main-color;
        padding: 20px;
        height: 240px;
        &-title {
            font-size: 42px;
            line-height: 63px;
            letter-spacing: 0.4px;
            color: #FFFFFF;
        }
        &-finder {
            margin: 15px 0 0 0;
            position: relative;
            width: 100%;
            max-width: 480px;
            .finder__sort {
                display: none;
            }
            .finder__input {
                padding: 0;
            }
            .finder__body {
                box-shadow: 0 3px 2px rgba(0,0,0,.04),
                            0 7px 5px rgba(0,0,0,.02),
                            0 13px 10px rgba(0,0,0,.02),
                            0 22px 17px rgba(0,0,0,.02);
            }
        }
    }
    &__body {
        display: flex;
        align-items: flex-start;
        padding: 40px 40px 60px;
        background-color: #fff;
        &-faq {
            width: 100%;
        }
        &-form {
            margin: 0 0 0 120px;
            padding: 40px 60px;
            min-width: 500px;
            background-color: #fff;
            box-shadow: 0 4px 34px rgba(0, 0, 0, 0.08),
                        0 1px 4px rgba(0, 0, 0, 0.04),
                        inset 0 0 0 6px #f6f6f6;
            border-radius: $bdrs-6;
        }
    }
}

@media (max-width: 1539px) {
    .support-page__body {
        padding: 40px 30px 60px;
    }
}

@media (max-width: 1299px) {
    .support-page__body {
        padding: 30px 30px 60px;
    }
    .support-page__body-form {
        margin: 0 0 0 50px;
        padding: 45px 45px 25px;
        min-width: 400px;
    }
    .faq__title{
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.2px;
    }
}

@media (max-width: 959px) {
    .support-page__body {
        padding: 30px 20px 50px;
        flex-direction: column;
        align-items: center;
    }
    .support-page__body-form {
        margin: 60px 0 0 0;
        padding: 40px 60px;
        min-width: auto;
        width: 100%;
        max-width: 500px;
    }
    .faq__title{
        font-size: 28px;
        line-height: 39px;
        letter-spacing: 0.1px;
    }
}

@media (max-width: 779px) {
    .support-page__header-title {
        font-size: 28px;
        line-height: 39px;
        letter-spacing: 0.1px;
    }
    .support-page__header-finder {
        margin: 20px 0 0 0;
    }
    .support-page__body-form {
        margin: 40px 0 0 0;
    }
}

@media (max-width: 639px) {
    .support-page__body {
        padding: 30px 0 50px;
    }
    .support-page__body-faq {
        padding: 0 15px;
    }
    .support-page__header-title,
    .faq__title{
        text-align: center;
    }
    .support-page__body-form {
        padding: 40px 20px;
    }
    .support-page__header-finder .finder__body-list li:first-child {
        box-shadow: none;
    }
}

