@import "variables";
@import "sidebar";
@import "stamping";
@import "toolbar";
@import "breadcrumbs";
@import "coin-card";
.year-page {
    &__container {
        .content__block-wrap {
            padding: 0;
			background: none;
        }
    }
    &__choose {
        display: flex;
        align-items: center;
		padding: 30px 40px 0;
		background-color: #fff;
		border-top-right-radius: $bdrs-6;
		border-top-left-radius: $bdrs-6;
        & > span {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: $main-color;
            white-space: nowrap;
            margin: 0 20px 0 0;
        }
        .select-style {
            width: 100%;
        }
    }
    &__subtitle {
        display: block;
        margin: 0 0 25px 0;
        font-size: 32px;
        line-height: 45px;
        font-weight: 500;
        letter-spacing: normal;
        color: $dark-color;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: -20px -10px;
    }
    &__item {
        width: calc(100% / 3);
        padding: 20px 10px;
    }
	&__section 	{
		padding: 30px 40px 40px;
		background-color: #fff;
		border-bottom-left-radius: $bdrs-6;
		border-bottom-right-radius: $bdrs-6;
	}
    &__section + &__section{
		border-radius: $bdrs-6;
        margin: 40px 0 0 0;
    }

}

@media (max-width: 1539px) {
    .year-page__content {
        margin: -20px -7px;
    }
    .year-page__item {
        padding: 20px 7px;
    }
	.year-page__container .year-page__section {
		padding: 30px 30px 40px;
	}
	.year-page__container .year-page__section + .year-page__section {
		padding: 25px 30px 40px;
	}
	.year-page__container .year-page__choose {
		padding: 25px 30px 0;
	}
}

@media (max-width: 1299px) {
    .year-page__content {
        margin: -15px -5px;
    }
    .year-page__item {
        width: 50%;
        padding: 15px 5px;
    }
	.year-page__container .year-page__section {
		padding: 30px 20px 40px;
	}
	.year-page__container .year-page__section + .year-page__section {
		padding: 20px 20px 40px;
	}
	.year-page__container .year-page__choose {
		padding: 20px 20px 0;
	}
}

@media (max-width: 959px) {
    .year-page__subtitle {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.5px;
    }
    .year-page__content {
        margin: -20px -10px;
    }
    .year-page__item {
        padding: 20px 10px;
    }
}

@media (max-width: 779px) {
    .year-page__subtitle {
        text-align: center;
    }
    .year-page__content {
        margin: -20px -9px;
    }
    .year-page__item {
        padding: 20px 9px;
    }
}

@media(max-width: 639px) {
    .year-page__content {
        margin: -10px 0;
        flex-direction: column;
        align-items: center;
    }
    .year-page__item {
        width: 100%;
        padding: 10px 0;
    }
    .year-page__choose {
        flex-direction: column;
        align-items: flex-start;
    }
    .year-page__choose .select-style {
        margin: 10px 0 0 0;
    }


	.year-page__container .year-page__section {
		padding: 30px 15px 40px;
	}
	.year-page__container .year-page__section + .year-page__section {
		padding: 20px 15px 40px;
	}
	.year-page__container .year-page__choose {
		padding: 20px 15px 0;
	}
}
