@import "variables";
@import "sidebar";
@import "stamping";
@import "toolbar";
@import "breadcrumbs";
@import "coin-card";
@import "pagination";

.auctions {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    margin: 30px -20px 0;
    &__filter {
		padding: 0 20px;
		width: auto;
        &-title {
            display: block;
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            color: $dark-color;
            margin: 0 0 20px 0;
        }
        &-wrap {
            columns: 1;
			column-gap: 30px;
			.safety-easy & {
				columns: 2;
			}
            .checkbox__label {
				white-space: nowrap;
                display: block;
                margin-bottom: 10px;
                &-text {
                    display: inline-block;
					font-size: 14px;
                }
				.count {
					display: inline-block;
					vertical-align: middle;
					font-size: 12px;
					line-height: 14px;
					color: $gray-text;
				}
            }
        }
    }
    &__select {
        margin: 50px 0 0 0;
        display: flex;
        align-items: center;
        &-wrap {
            position: relative;
            width: 100%;
            margin: 0 0 0 20px;
        }
        &-label {
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.2px;
            color: $main-color;
        }
    }
    &__cards + &__select {
        margin: 40px 0 0 0;
    }
}
.auctions,
.varieties {
    &__cards {
        display: flex;
        flex-wrap: wrap;
		padding: 0 0 20px 0;
        margin: 20px -10px -20px;
    }
    &__card {
        width: calc(100% / 3);
        padding: 20px 10px;
    }
}
.coin-page {
    padding: 40px;

    &__img {
        &-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 -10px;
        }
        &-item{
            padding: 0 10px;
            img {
                width: 520px;
                height: 520px;
				object-fit: contain;
            }
        }
        &-desc {
            margin: 30px 0 0 0;
            p {
                display: block;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.2px;
                color: $main-color;
            }
        }
    }
    &__specification {
        margin: 55px 0 0;
        display: flex;
		justify-content: space-between;
        &-item {
			width: 100%;
            max-width: 45%;
        }
        &-title {
            display: block;
            font-size: 20px;
            line-height: 24px;
            color: $dark-color;
            padding-bottom: 20px;
            box-shadow: inset 0 -1px 0 0 $gray-color;
        }

        &-list {
            margin: 20px 0 0 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                font-size: 15px;
                line-height: 20px;
                color: $main-color;
                box-shadow: inset 0 -1px 0 0 #EDEDED;
                .left {
                    display: flex;
                    align-items: center;
                    font-weight: 300;
                    .helper {
                        margin: 0 0 0 5px;
                    }
                }
                .right{
					text-align: right;
                    padding: 0 0 0 10px;
                    font-weight: 600;
                    letter-spacing: -0.2px;
                }

            }
        }
    }
    &__tabs {
        display: flex;
        justify-content: center;
        background-color: $dark-color;
        border-radius: 6px 6px 0 0;
    }
    &__tab {
        font-size: 15px;
        line-height: 20px;
        color: #9595AF;
        padding: 15px 0 15px 0;
        position: relative;
        @include tab-hover(#fff);
        &:not(.active):hover {
            cursor: pointer;
        }
        &.active {
            color: #fff;
            cursor: default;
        }
        .no-touch &:not(.active):hover,
        &.active{
            color: #fff;
            @include tab-hover-active;
        }
    }
    &__tab + &__tab {
        margin: 0 0 0 30px;
    }
    &__info {
        &-block {
            padding: 30px 40px 0;
            .pagination {
                background: none;
                margin: 80px -40px 0;
            }
            .pagination__prev {
                border-radius: 0 0 0 $bdrs-6;
            }
            .pagination__next {
                border-radius: 0 0 $bdrs-6 0;
            }
            &[data-block="varieties-block"] {
                padding-bottom: 40px;
            }
        }
        &-title {
            display: block;
            font-size: 32px;
            line-height: 45px;
            letter-spacing: -0.5px;
            color: $dark-color;
        }
    }
}

@media (max-width: 1539px) {
    .coin-page {
        padding: 30px 30px 40px;
    }
    .coin-page__img-wrap {
        margin: 0 -5px;
    }
    .coin-page__img-item {
        padding: 0 5px;
    }
    .coin-page__img-item img {
        width: 430px;
        height: 430px;
    }
	.coin-page__specification-item {
		max-width: 47%;
	}
    .coin-page__specification-title {
        font-size: 18px;
        letter-spacing: 0.2px;
    }
    .coin-page__info-block {
        padding: 30px 30px 0;
    }
    .auctions__cards, .varieties__cards {
        margin: 20px -7px -20px;
    }
    .auctions__card, .varieties__card {
        padding: 20px 7px;
    }
    .coin-page__info-block .pagination {
        margin: 60px -30px 0;
    }
}

@media (max-width: 1299px) {
    .coin-page {
        padding: 20px 20px 55px;
    }
    .coin-page__img-wrap {
        margin: 0 -4px;
    }
    .coin-page__img-item {
        padding: 0 4px;
    }
    .coin-page__img-item img {
        width: 278px;
        height: 278px;
    }
    .coin-page__img-desc {
        margin: 20px 0 0;
    }
    .coin-page__info-block {
        padding: 30px 20px 0;
    }

    .auctions__cards, .varieties__cards {
        margin: 25px -5px -15px;
    }
    .auctions__card, .varieties__card {
        width: 50%;
        padding: 15px 5px;
    }

    .coin-page__info-block .pagination {
        margin: 80px -20px 0;
    }
    .coin-page__info-title {
        font-size: 28px;
        line-height: 39px;
        letter-spacing: 0.2px;
    }
	.auctions {
		margin: 15px -15px 0;
	}

	.auctions__filter {
		width: 52%;
		padding: 15px;
	}
	.auctions__filter.safety,
	.auctions__filter.suffix {
		width: 46%;
	}
	.auctions__filter-wrap {
		column-gap: 20px;
	}
	.auctions__filter:not(.safety) .auctions__filter-wrap{
		columns: 2;
	}
}
@media (max-width: 959px) {
    .coin-page {
        padding: 30px 20px 55px;
    }
    .coin-page__img-wrap {
        margin: 0 -2px;
    }
    .coin-page__img-item {
        padding: 0 2px;
    }
    .coin-page__img-item img {
        width: 348px;
        height: 348px;
    }

    .coin-page__info-block {
        padding: 30px 20px 0;
    }

    .auctions__cards, .varieties__cards {
        margin: 20px -10px -20px;
    }

    .auctions__card, .varieties__card {
        width: 50%;
        padding: 20px 10px;
    }
	.auctions__filter,
	.auctions__filter.safety,
	.auctions__filter.suffix{
		width: 46%;
	}
}

@media (max-width: 779px) {
    .coin-page {
        padding: 20px 20px 55px;
    }
    .coin-page__img-item img {
        width: calc(100vw / 2 - 38px);
        height: calc(100vw / 2  - 38px);
    }
    .auctions__cards, .varieties__cards {
        margin: 10px -9px -20px;
    }

    .auctions__card, .varieties__card {
        padding: 20px 9px;
    }
    .auctions__cards + .auctions__select {
        margin: 40px 0 0 0;
    }
    .coin-page__info-block .pagination {
        margin: 60px -20px 0;
    }
	.auctions__filter,
	.auctions__filter.safety,
	.auctions__filter.suffix{
		width: 49%;
	}
}

@media(max-width: 639px) {
    .coin-page {
        padding: 20px 15px 40px;
    }
    .coin-page__img-item img {
        width: calc(100vw / 2 - 33px);
        height: calc(100vw / 2  - 33px);
    }
    .coin-page__img-desc p{
        text-align: center;
    }
	.coin-page__specification {
		margin: 40px 0 0;
		flex-direction: column;
	}
	.coin-page__specification-item {
		max-width: 100%;
	}
	.coin-page__specification-item + .coin-page__specification-item {
		margin-top: 32px;
	}

	.coin-page__specification-list li {
		box-shadow: none;
	}
	.coin-page__specification-list li + li{
		box-shadow: inset 0 1px 0 0 #ededed;
	}
	.coin-page__specification-list li .left .helper__body {
		right: auto;
		left: 0;
	}
    .coin-page__specification-title {
        font-size: 18px;
    }
    .content__block-wrap + .content__block-wrap {
        margin: 40px 0 0 0;
    }
    .coin-page__info-block {
        padding: 30px 15px 0;
    }
    .coin-page__info-block .pagination {
        margin: 60px -15px 0;
    }
    .auctions__cards, .varieties__cards {
        margin: 20px 0 -10px;
        justify-content: center;
    }

    .auctions__card, .varieties__card {
        width: 100%;
        padding: 10px 0;
    }
	.auctions__filter,
	.auctions__filter.safety,
	.auctions__filter.suffix {
		width: 100%;
	}
	.auctions__filter-wrap {
		columns: 2;
	}



}

@media (max-width: 479px) {
    .coin-page__tab + .coin-page__tab {
        margin: 0 0 0 15px;
    }
    .auctions__select {
        align-items: flex-start;
        flex-direction: column;
    }
    .auctions__select-wrap {
        position: relative;
        width: 100%;
        margin: 10px 0 0 0;
    }
}

@media (max-width: 359px) {
    .coin-page__tab {
        font-size: 14px;
    }
    .coin-page__tab + .coin-page__tab {
        margin: 0 0 0 10px;
    }
    .coin-page__info-title {
        font-size: 26px;
    }
    .coin-page__specification-title {
        font-size: 16px;
    }
	.auctions__filter-wrap .checkbox__label-text {
		padding-left: 20px;
	}
	.auctions__filter-wrap .checkbox__label-text {
		font-size: 13px;
	}
	.auctions__filter-wrap .checkbox__label-text:before {
		top: 2px;
		width: 16px;
		height: 16px;
	}
}



