@import "variables";
@import "sidebar";
@import "stamping";
@import "toolbar";
@import "country-card";
@import "breadcrumbs";
@import "dop-info-block";
@import "news";
@import "pagination";
@import "coin-card";

.country-page {
    &__container {
        .content__block-wrap {
            padding: 40px 50px;
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: -20px;
    }
    &__item {
        width: calc(100% / 3);
        padding: 20px;
    }
}

@media (max-width: 1539px) {
    .country-page__container .content__block-wrap{
        padding: 30px 30px 40px;
    }
    .country-page__wrap {
        margin: -20px -7px;
    }
    .country-page__item {
        padding: 20px 7px;
    }
}

@media (max-width: 1299px) {
    .country-page__container .content__block-wrap{
        padding: 20px 15px 40px;
    }
    .country-page__wrap {
        margin: -20px -5px;
    }
    .country-page__item {
        width: 50%;
        padding: 20px 5px;
    }
}

@media (max-width: 959px) {
    .country-page__container .content__block-wrap{
        padding: 30px 40px 40px;
    }
    .country-page__wrap {
        margin: -20px -10px;
    }
    .country-page__item {
        width: 50%;
        padding: 20px 10px;
    }
}

@media (max-width: 779px) {
    .country-page__wrap {
        margin: -20px -9px;
    }
    .country-page__item {
        width: 50%;
        padding: 20px 9px;
    }
}

@media (max-width: 639px) {
    .country-page__container .content__block-wrap{
        padding: 20px 15px 40px;
    }
    .country-page__wrap {
        margin: -3px 0;
    }
    .country-page__item {
        width: 100%;
        padding: 3px 0;
    }
}

