<div class="finder__wrap js-finder-wrap">
	<div class="finder__input">
		<input class="js-finder-input" type="text" placeholder="@@placeholder">
		<!--<a href="#" class="finder__sort">
			<svg class="finder__sort-icon">
				<use xlink:href="#settings"></use>
			</svg>
		</a>-->
		<span class="finder__cleaner js-finder-clean">
			<svg class="finder__cleaner-icon">
				<use xlink:href="#close"></use>
			</svg>
		</span>

	</div>
	<a href="#" class="finder__btn">
		<svg class="finder__btn-icon">
			<use xlink:href="#search"></use>
		</svg>
	</a>
</div>
