<div class="pagination">
	<div class="pagination__prev">
		<svg class="">
			<use xlink:href="#arrow-down"></use>
		</svg>
	</div>
	<div class="pagination__pages">
		<a href="#" class="page-num">1</a>
		<span class="page-empty">...</span>
		<a href="#" class="page-num active">6</a>
		<a href="#" class="page-num">7</a>
		<a href="#" class="page-num">8</a>
		<span class="page-empty">...</span>
		<a href="#" class="page-num">100</a>
	</div>
	<div class="pagination__next">
		<svg class="">
			<use xlink:href="#arrow-down"></use>
		</svg>
	</div>
</div>
