<div class="period-card">
	<div class="period-card__title">
		<img src="img/webp/lot-coin.webp" alt="coin">
		<span>Золото</span>
	</div>
	<ul class="period-card__list js-period-card-list">
		<li><a href="#">20 злотых</a></li>
		<li><a href="#">10 злотых</a></li>
		<li><a href="#">5 злотых</a></li>
		<li><a href="#">20 злотых</a></li>
		<li><a href="#">10 злотых</a></li>
		<li><a href="#">5 злотых</a></li>
		<li><a href="#">20 злотых</a></li>
		<li><a href="#">10 злотых</a></li>
		<li><a href="#">5 злотых</a></li>
	</ul>
	<span class="period-card__btn js-period-card-show"><span class="text">Показать все</span> <span class="count">(9)</span></span>
</div>