<div class="toolbar">
	<div class="toolbar__btns">
		<div class="container">
			<div class="toolbar__wrap">
				<div class="toolbar__icon js-toolbar-btn" data-info="categories">
					<svg>
						<use xlink:href="#book"></use>
					</svg>
					<span>Категории</span>
				</div>
				<div class="toolbar__icon js-toolbar-btn" data-info="years">
					<svg>
						<use xlink:href="#calendar"></use>
					</svg>
					<span>Года</span>
				</div>
				<div class="toolbar__icon js-finder-open-input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<span>Поиск</span>
				</div>
			</div>
		</div>
	</div>

	<div class="toolbar__content js-toolbar-content" data-scroll-lock-scrollable>
		<div class="toolbar__stamping js-toolbar-block hidden" data-block="years">
			<div class="toolbar__content-label">
				<span>Года</span>
				<span class="close js-toolbar-close">Закрыть</span>
			</div>
			@@include('../components/stamping.html')
		</div>
		<div class="toolbar__sidebar js-toolbar-block hidden" data-block="categories">
			<div class="toolbar__content-label">
				<span>Категории</span>
				<span class="close js-toolbar-close">Закрыть</span>
			</div>
			<div class="toolbar__sidebar-wrap" data-scroll-lock-scrollable>
				@@include('../components/stamping.html')
				@@include('../components/sidebar.html')
			</div>
		</div>
	</div>
</div>



<script>
	$('body').addClass('toolbar-show');
	$('.js-toolbar-btn').on('click', function () {
		close_finder_body();
		$('.js-finder-open-input').removeClass('active');
		$('.js-finder-animate-block').removeClass('open');
		$('body').removeClass('overlay-open mob-finder-open');
		if(!$(this).hasClass('active')){
			$('.js-toolbar-block').addClass('hidden');
			$('.js-toolbar-btn').removeClass('active');
			$('.js-toolbar-content').addClass('open');
			$(this).addClass('active');
			$('.js-toolbar-content').find("div[data-block='" + $(this).attr('data-info') +"']").removeClass('hidden');
			disableScroll();
		}
		else {
			$('.js-toolbar-content').removeClass('open');
			$('.js-toolbar-block').addClass('hidden');
			$('.js-toolbar-btn').removeClass('active');
			enableScroll();
		}
	});
	$('.js-toolbar-close').on('click', function () {
		$('.js-toolbar-content').removeClass('open');
		$('.js-toolbar-block').addClass('hidden');
		$('.js-toolbar-btn').removeClass('active');
		enableScroll();
	});
</script>