<div class="hashtags__wrap">
	{{#each optionsArrFix}}
		<div class="hashtags__item">
			<span class="btn-style btn-style_blue js-filter-delete-option">
				{{this}}
			</span>
		</div>
	{{/each}}
	<div class="hashtags__cleaner js-filter-reset">
		<span class="btn-style btn-style_gray js-filter-reset">
			Очистить
		</span>
	</div>
</div>
