@import "variables";

.table {
	position: relative;
	display: table;
	width: 100%;
    & > p {
        display: block;
        text-align: center;
        font-size: 22px;
        line-height: 32px;
        font-weight: 500;
    }
	&__row {
		display: table-row;
        &-group {
            display: table-row-group;
        }
	}
	&__row:not(.table__header) {
		&:not(:first-of-type){
			.table__cell {
				border-top: 1px solid #EDEDED;
			}
		}
		&:last-of-type{
			.table__cell {
				border-top: 1px solid #EDEDED;
				border-bottom: 1px solid #EDEDED;
			}
		}
	}
	&__row:not(.table__header):hover + &__row:not(.table__header) .table__cell {
		border-top: 1px solid transparent;
	}
	&__row:not(.table__header):hover &__cell,
	&__row:not(.table__header):hover &__cell .text-gray{
		color: $active-color;
		&:first-of-type{
			color: $active-color;
		}
	}
	&__row:not(.table__header):hover &__cell{
		@include hover-bgc;
		&:first-of-type{
			border-top-left-radius: $bdrs-6;
			border-bottom-left-radius: $bdrs-6;
		}
		&:last-of-type{
			border-top-right-radius: $bdrs-6;
			border-bottom-right-radius: $bdrs-6;
		}
		&:not(:last-of-type):before {
			background-color: #F6F6F6;
		}
	}
	&__cell {
		display: table-cell;
		vertical-align: middle;
		font-size: 15px;
		line-height: 21px;
		color: $main-color;
		& > * {
			display: flex;
			align-items: center;
			padding: 0 15px;
			justify-content: flex-start;
		}
        .checkbox {
            padding: 16px;
        }
		.checkbox__text {
			padding: 0;
			&:before {
				position: relative;
			}
		}
        &:nth-child(1) {
            width: 65px;
            & > * {
                padding: 0;
                justify-content: center;
            }
        }

        &:nth-child(2){
            width: 290px;
        }

        &:nth-child(4){
            width: 320px;
        }

        &:nth-child(3) {
            width: 145px;
        }
	}

	&__row:not(.table__header) &__cell{
		position: relative;
		padding: 4px 0;
		&:not(:only-child):first-of-type {
			color: $dark-color;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.2px;
			font-weight: 600;
		}
		&:not(:last-of-type):before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 1px;
			height: calc(100% - 24px);
			background-color: #EDEDED;
		}
	}
	&__header &__cell{
		position: relative;
		line-height: 18px;
		font-weight: 600;
		letter-spacing: -0.1px;
		color: $dark-color;
		border-bottom: 1px solid $active-color;
		& > * {
			height: 40px;
		}
	}
}

@media (max-width: 1539px) {
    .table {
        &__cell {
            &:nth-child(1) {
                width: 65px;
            }

            &:nth-child(2) {
                width: 270px;
            }

            &:nth-child(4) {
                width: 248px;
            }

            &:nth-child(3) {
                width: 145px;
            }
        }
    }
}

@media (max-width: 1299px) {
    .table {
        &__cell {
            &:nth-child(1) {
                width: 60px;
            }



            &:nth-child(2) {
                width: 195px;
            }

            &:nth-child(4) {
                width: 275px;
            }
        }
    }
}

@media (max-width: 959px) {
    .table {
        &__cell {
            font-size: 14px;
            & > * {
                padding: 0 10px;
            }
            &:nth-child(2),
            &:nth-child(4){
                width: 200px;
            }

            &:nth-child(3){
                width: 130px;
            }
        }
    }
}

@media (max-width: 779px) {
}

@media(max-width: 639px) {
    .table {
        &__cell {
            &:nth-child(1) {
                max-width: 60px;
            }
            &:nth-child(2) {
                width: auto;
                &:before {
                    display: none;
                }
            }
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                display: none;
            }
        }
    }
}

@media (max-width: 479px) {
}
