$header-height-main : 44px;

$main-color: #303030;

$red-color: #E2001A;
$red-active-color: #74000D;
$red-hover-color: #BD0016;

$green-color: #0FAE2A;
$green-active-color: #066015;
$green-hover-color: #0B8F22;

$blue-color: #0066CC;
$blue-active-color: #001751;
$blue-hover-color: #0D4599;

$gray-color: #C4C4C4;
$gray-active-color: #C4C4C4;
$gray-hover-color: #C4C4C4;

$disabled-color : #C2C2CF;

