<div class="modal__header">
	Выберите услугу
	<span class="modal__close modalCloseJs"></span>
</div>
<div class="modal__main">
	<ul class="services-list addTasksListJs" data-scroll-lock-scrollable>
	{{#each services}}
			<li>
				<label class="checkbox checkbox_blue" data-id="{{this.id}}">
					<input type="checkbox" class="checkbox__check">
					<p class="checkbox__text">
						{{this.title}}
					</p>
				</label>
			</li>
	{{/each}}
	</ul>
	<div class="services-list__btn">
		<span class="btn-style btn-style_blue modalCloseJs addTaskBtnJs">Добавить</span>
	</div>
</div>
