<div class="modal__header">
	<svg>
		<use xlink:href="#attantion"></use>
	</svg>
	{{title}}
</div>
<div class="modal__main"><p>{{message}}</p></div>
<div class="modal__footer">
	<span class="btn-style btn-style_gray modalCloseJs">Закрыть</span>
</div>
