<div class="modal__header">
	Сохранение данных
</div>
<div class="modal__main">
	<p>
		Выдействительно хотите <span class="br"></span>
		изменить данные заказа?
	</p>
</div>
<div class="modal__footer">
	<span class="btn-style btn-style_gray modalCloseJs">Закрыть</span>
	<span class="btn-style btn-style_green saveTasksDataJs">Сохранить</span>
</div>