<div class="modal__header">
	Внесите изменения
	<span class="modal__close modalCloseJs"></span>
</div>
<div class="modal__main">
	<form action="" class="edit-data-form" id="userForm">
		<div class="edit-data-form__item">
			<label>ФИО</label>
			<input type="text" class="input-style" id="userName" value="{{fio}}">
		</div>
		<div class="edit-data-form__item">
			<label>Автомобиль</label>
			<input type="text" class="input-style" id="userCar" value="{{userCar}}">
		</div>
		<div class="edit-data-form__item">
			<label>Регистрационный номер</label>
			<input type="text" class="input-style" id="userCarNum" value="{{userCarNum}}">
		</div>
		<div class="edit-data-form__item">
			<button type="submit" class="btn-style btn-style_blue editUserInfoBtnJS">Подтвердить</button>
		</div>
	</form>
</div>