<div class="modal__header">
	Удаление акта <span class="br"></span> №&nbsp;{{actCode}}
</div>
<div class="modal__main">
	<p>
		Выдействительно хотите удалить<span class="br"></span>
		№&nbsp;{{actCode}}?
	</p>
</div>
<div class="modal__footer">
	<span class="btn-style btn-style_gray modalCloseJs">Закрыть</span>
	<span class="btn-style btn-style_red removeActsFromDBJs">Удалить</span>
</div>