<a href="#" class="coin-card">
	<div class="coin-card__img">
		<div class="coin-card__img-item front">
			<img src="img/webp/coin-most-expensive.webp" alt="coin">
		</div>
		<div class="coin-card__img-item back">
			<img src="img/webp/lot-coin-back.webp" alt="coin">
		</div>
	</div>
	<div class="coin-card__text">
		<span class="coin-card__title text-medium">
			@@title
		</span>
		<span class="coin-card__desc">
			@@description
		</span>
		<ul class="coin-card__info">
			<li class="@@price">
				<span class="left">Средняя цена</span>
				<span class="right">5000 $</span>
			</li>
			<li class="@@views">
				<span class="left">
					<span class="views">
						<svg>
						    <use xlink:href="#eye"></use>
						</svg>
						1542
					</span>
				</span>
				<span class="right">Подробнее</span>
			</li>
		</ul>
	</div>
</a>
