<a href="#" class="coin-card two-imgs @@this-auctions">
	<div class="coin-card__img">
		<div class="coin-card__img-item">
			<img src="img/webp/coin-most-expensive.webp" alt="coin">
		</div>
		<div class="coin-card__img-item">
			<img src="img/webp/coin-most-expensive.webp" alt="coin">
		</div>
	</div>
	<div class="coin-card__text">
		<span class="coin-card__title text-medium">
			200 złotych 1995 Międzynaro
		</span>
		<span class="coin-card__desc">
			200 złotych 1995
		</span>
		<ul class="coin-card__info">
			<li class="@@country-item">
				<span class="left">Страна</span>
				<span class="right">Польша</span>
			</li>
			<li class="@@period-item">
				<span class="left">Период</span>
				<span class="right">Николай II</span>
			</li>
			<li class="@@edition-item">
				<span class="left">Тираж</span>
				<span class="right">55644008</span>
			</li>
			<li>
				<span class="left">Средняя цена</span>
				<span class="right">5000 $</span>
			</li>
			<li>
				<span class="left">Проходы</span>
				<span class="right pass @@pass-active">@@pass</span>
			</li>
		</ul>
	</div>
</a>
