<form class="filter js-filter" data-scroll-lock-scrollable>
	<div class="filter__wrap js-filter-wrap">
		<div class="filter__label">
			<span>Фильтр</span>
			<span class="close js-filter-mob-close">Отмена</span>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Страны</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text" placeholder="Введите название">
				</div>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
				</div>
			</div>
			<div class="filter__see js-filter-show">
				<span>Посмотреть все</span>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Личность</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text" placeholder="Введите название">
				</div>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
				</div>
			</div>
			<div class="filter__see js-filter-show">
				<span>Посмотреть все</span>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Номинал</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text" placeholder="Введите название">
				</div>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
				</div>
			</div>
			<div class="filter__see js-filter-show">
				<span>Посмотреть все</span>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Металл</span>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
				</div>
			</div>
			<div class="filter__see js-filter-show">
				<span>Посмотреть все</span>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Назначение</span>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label hidden">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
				</div>
			</div>
			<div class="filter__see js-filter-show">
				<span>Посмотреть все</span>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Цена</span>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Inactive</span>
					</label>
				</div>
				<div class="filter__range">
					<input type="tel" placeholder="Минимум">
					<span>-</span>
					<input type="tel" placeholder="Максимум">
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Период (год)</span>
				<div class="filter__range">
					<input type="tel" placeholder="с 1935">
					<span>-</span>
					<input type="tel" placeholder="по 1943">
				</div>
			</div>
		</div>
		<div class="filter__btn js-filter-btns">
			<button class="btn-style js-filter-show-btn" disabled>Найти</button>
			<span class="btn-style btn-white hidden js-filter-reset">Сбросить</span>
		</div>
	</div>
</form>

<script>
	$('.js-filter-show').on('click', function () {
		$(this).prev().find('.filter__checkboxes').children().removeClass('hidden');
		$(this).addClass('hidden');
	});
</script>
