<div class="finder__body js-finder-body" data-scroll-lock-scrollable>
	<ul class="finder__body-list">
		<li><a href="#">1835-1872 Золотая монета <span class="country">(Польша)</span></a></li>
		<li><a href="#">1835-1872 Золотая монета <span class="country">(Польша)</a></li>
		<li><a href="#">1835-1872 Золотая монета <span class="country">(Германия)</span></a></li>
		<li><a href="#">1835 <span class="country">(Германия)</span></a></li>
		<li><a href="#">1835 <span class="country">(Германия)</span></a></li>
	</ul>
	<a href="#" class="finder__more-settings @@link-to-filter-page">Расширенный поиск</a>
</div>
