<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__logo">
				<a href="#" class="footer__logo-link">
					<svg>
						<use xlink:href="#logo"></use>
					</svg>
				</a>
				<p class="footer__logo-text"><span>© 2021 «Coinstrail».</span> <span>Все права защищены.</span></p>
			</div>
			<nav class="footer__nav">
				<div class="footer__nav-item">
					<span class="footer__nav-title">Каталоги монет</span>
					<ul class="footer__nav-links">
						<li><a href="#" class="footer__nav-link">Европа</a></li>
						<li><a href="#" class="footer__nav-link">Северная Америка</a></li>
						<li><a href="#" class="footer__nav-link">Южная Америка</a></li>
						<li><a href="#" class="footer__nav-link">Азия</a></li>
						<li><a href="#" class="footer__nav-link">Африка</a></li>
						<li><a href="#" class="footer__nav-link">Австралия и Океания</a></li>
					</ul>
				</div>
				<div class="footer__nav-item">
					<span class="footer__nav-title">Языки</span>
					<ul class="footer__nav-links">
						<li><a href="#" class="footer__nav-link">Английский</a></li>
						<li><a href="#" class="footer__nav-link">Португальский</a></li>
						<li><a href="#" class="footer__nav-link">Русский</a></li>
						<li><a href="#" class="footer__nav-link">Китайский</a></li>
						<li><a href="#" class="footer__nav-link">Французский</a></li>
						<li><a href="#" class="footer__nav-link">Немецкий</a></li>
					</ul>
				</div>
				<div class="footer__nav-item">
					<span class="footer__nav-title">Поддержка</span>
					<ul class="footer__nav-links">
						<li><a href="#" class="footer__nav-link">Служба поддержки</a></li>
						<li><a href="#" class="footer__nav-link">Cookies</a></li>
					</ul>
					<a href="#feedback" class="btn-style js-open-modal">Связаться с нами</a>
				</div>
			</nav>
		</div>
	</div>
</footer>
@@include('../components/cookies.html')
@@include('../components/modal.html')