<!--<div class="news">
	<div class="news__img">
		<img src="../img/news1.jpg" alt="news">
	</div>
	<div class="news__content">
		<div class="news__wrap">
			<h3 class="news__title text-medium">Заголовок статьи</h3>
			<p class="news__preview">
				Онлайн каталог монет Царской России будет полезен коллекционерам, кладоискателям и торговцам, занимающихся отечественной нумизматикой. С помощью нашего ресурса пользователи смогут определить примерную стоимость и редкость интересующей монеты.Стоимость монет России, как и монет других стран, формируется на аукционах. В каталоге фиксируются официальные цены очных и интернет аукционов со всего мира. Все монеты разделены по правителям, годам, типам<span class="news__btn text-green js-news-open-btn"> ...читать полностью</span>
			</p>
			<div class="news__all js-news-all">
				<div class="news__all-title">
					<div class="news__all-img">
						<img src="img/news2.jpg" alt="news">
						<span>фото: <a href="#">ссылка</a></span>
					</div>

					<p>
						« В каталоге фиксируются официальные цены очных и интернет аукционов со всего мира. Все монеты разделены по правителям, годам, типам. »
					</p>
				</div>
				<div class="news__all-desc">
					<p>
						Целью каталога монет России является аккумулирование и удобное предоставление информации о проданных монетах. Нами собрана информация о проданных экземплярах начиная с дореволюционных торгов 1908 года до современных аукционов 2020 года. Приведена информация и изображения с официальных источников. Если Вы не можете самостоятельно определить цену, наши эксперты смогут произвести оценку по фотографии или при личной встрече в офисе. Период Императорской России охватывает более 300 лет истории, которую можно узнать соприкасаясь с монетами - свидетелями и участниками событий того времени.
					</p>
					<span class="news__btn text-green js-news-close-btn">Свернуть</span>
				</div>
			</div>
			<div class="news__hashtags">
				<div class="news__hashtags-wrap">
					<div class="news__hashtag">
						<span>Хештег</span>
					</div>
					<div class="news__hashtag">
						<span>Хештег</span>
					</div>
					<div class="news__hashtag">
						<span>Золотая монета</span>
					</div>
				</div>
				<div class="news__views">
											<span>
												<svg>
												    <use xlink:href="#eye"></use>
												</svg>
												1542
											</span>
				</div>
			</div>
		</div>
	</div>
</div>-->

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque doloribus ducimus fugit id in
	numquam officiis rem sapiente suscipit. Autem blanditiis corporis cum dicta, quidem sunt suscipit voluptas
	voluptates! Alias atque corporis dolor fuga necessitatibus nisi tenetur! Ad aliquam aspernatur consectetur culpa cum
	cupiditate deserunt dignissimos distinctio dolor, doloribus, ducimus esse facilis fuga fugit ipsa maiores minus modi
	necessitatibus nihil non optio praesentium quae quod rem reprehenderit saepe sequi suscipit tempore ullam unde velit
	veritatis voluptates voluptatum. Accusantium consequatur dolore eius laboriosam. Aliquam beatae dolores eos, ex
	facere incidunt ipsum maiores quisquam repudiandae sequi, temporibus totam veritatis. Consectetur dolor, enim, ex
	expedita fugit ipsa modi neque odio perspiciatis qui quos reiciendis reprehenderit temporibus ullam ut? Animi
	doloremque illum magni mollitia optio, reprehenderit. Aliquid, esse, laboriosam! Aliquam aspernatur autem beatae
	blanditiis corporis cumque deleniti dignissimos dolores, eius et fugiat id incidunt libero molestiae nam nisi odit,
	officiis reiciendis sapiente ut.</p>

<script>
	$('.js-news-open-btn').on('click', function () {
		if(!$(this).hasClass('open')){
			$('.js-news-all').slideUp(200);
			$('.js-news-open-btn').removeClass('hidden open');
			$(this).addClass('open hidden');
			$(this).parent().next('.js-news-all').slideDown(200);
		}
	});
	$('.js-news-close-btn').on('click', function () {
		$(this).closest('.js-news-all').slideUp(200);
		$('.js-news-open-btn').removeClass('hidden open');
	});
</script>