<nav class="sidebar">
	<ul class="sidebar__wrap">
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Август III <span class="text-gray">1734-1763</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Станислав Август <span class="text-gray">1764-1795</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Прусское правление <span class="text-gray">1796-1818</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Вольный город Данциг <span class="text-gray">1808-1812</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Варшавское герцогство <span class="text-gray">1807-1815</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Царство Польское <span class="text-gray">1815-1835</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Вольный город Краков <span class="text-gray">1835-1835</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Российское правление <span class="text-gray">1832-1850</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Королевство Польское <span class="text-gray">1917-1918</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				II Республика <span class="text-gray">1919-1939</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Вольный город Данциг <span class="text-gray">1923-1939</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Немецкая оккупация <span class="text-gray">1939-1943</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				Народная Республика <span class="text-gray">1949-1990</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				III Республика (до деноминации) <span class="text-gray">1990-1995</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="sidebar__item">
			<span class="sidebar__item-btn js-sidebar-btn" data-button="main-btn">
				III Республика (после деноминации) <span class="text-gray">1995-2020</span>
				<svg>
				    <use xlink:href="#arrow-down"></use>
				</svg>
			</span>
			<ul class="sidebar__item-list js-sidebar-list">
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__subitem">
					<span class="sidebar__item-btn js-sidebar-btn" data-button="main-sub-btn">
						Золото
						<svg>
						    <use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					<ul class="sidebar__links">
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link active">25 грошей</a>
						</li>
						<li class="sidebar__link-wrap">
							<a href="#" class="sidebar__link">25 грошей</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</nav>
