<div class="stamping js-stamping-wrap" data-scroll-lock-scrollable>
	<div class="stamping__wrap">
		<div class="stamping__flag">
			<img src="img/webp/flag.webp" alt="flag">
		</div>
		<div class="stamping__country">
			<span class="stamping__country-text">Великобритания</span>
			<div class="stamping__country-text mob">
				<select name="country">
					<option>Великобритания</option>
					<option>Польша</option>
					<option>Германия</option>
					<option>Испания</option>
					<option>Италия</option>
					<option>Греция</option>
					<option>Исландия</option>
				</select>
				<svg>
					<use xlink:href="#arrow-down"></use>
				</svg>
			</div>
			<span class="stamping__country-year dropdown">
				<span>Год чеканки:</span>
				<span class="stamping__country-btn js-stamping-btn">
					2020-2020
					<svg>
					    <use xlink:href="#arrow-down"></use>
					</svg>
				</span>
				<span class="stamping__country-btn text-gray mob ">
					2020-2020
				</span>
			</span>

		</div>
	</div>
	<div class="stamping__find js-stamping-list">
		<div class="stamping__find-wrap">
			<div class="stamping__find-input">
				<svg>
					<use xlink:href="#search"></use>
				</svg>
				<input type="text" placeholder="Поиск">
			</div>
		</div>
		<ul class="stamping__find-list">
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
		</ul>
	</div>
	<div class="stamping__find mob">
		<div class="stamping__find-wrap">
			<div class="stamping__find-input">
				<svg>
					<use xlink:href="#search"></use>
				</svg>
				<input type="text" placeholder="Поиск">
			</div>
		</div>
		<ul class="stamping__find-list" >
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
		</ul>
	</div>
</div>
